<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<% resource_title = strip_html(strip_newlines(title)) %>
<title><% if resource_title != "Index" %><%= resource_title %> | <%= metadata.title %><% else %><%= metadata.title %>: <%= metadata.tagline %><% end %></title>

<meta name="description" content="<%= metadata.description %>" />

<link rel="stylesheet" href="<%= asset_path :css %>" data-turbo-track="reload" />
<script src="<%= asset_path :js %>" data-turbo-track="reload" defer></script>
<%= live_reload_dev_js %>

<script defer data-domain="masterhotwire.com" src="https://plausible.io/js/script.js"></script>

<% if data.paddle %>
  <script src="https://cdn.paddle.com/paddle/v2/paddle.js"></script>
  <script type="text/javascript">
    <% unless ENV["PADDLE_LIVE"] == "true" %>
      Paddle.Environment.set("sandbox");
    <% end %>
    Paddle.Initialize({
      token: "<%= ENV["PADDLE_TOKEN"] %>"
    });
  </script>
<% end %>
